$preheader-font-size: 18px;
$preheader-border-right: 1px solid lightgrey;

/* make sure to add the @import the SlickGrid Bootstrap Theme AFTER the variables changes */
@import '../../aurelia-slickgrid/styles/slickgrid-theme-bootstrap.scss';
