/* make sure to add the @use the SlickGrid Theme AFTER the variables changes */
// @use '@slickgrid-universal/common/dist/styles/sass/slickgrid-theme-material.lite.scss' with (...);

#grid27 {
  .slick-cell {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }
}
