node_modules
jspm_packages
bower_components
.chrome
.idea
.DS_STORE
npm-debug.log
package-lock.json
yarn.lock
yarn-error.log

# Distribution folder
**/dist

# Test Coverage
coverage
test/coverage-jest
