node_modules
jspm_packages
bower_components
.chrome
.idea
.DS_STORE
npm-debug.log
yarn-error.log

# Distribution folder
**/dist
**/dist-demo
**/website

# Tests Report & Coverage
**/node_modules
**/coverage
**/jest-coverage
**/mochawesome-report
**/dist
**/*.tgz
**/junit.xml
**/test-report.xml
**/testresult.xml

# Environment variables
.env
