.chrome
.circleci
.github
.idea
.vscode
.codecov.yml
aurelia-project
CONTRIBUTING.md
cypress
cypress.json
cypress-mochawesome.js
doc
src
ISSUE_TEMPLATE.md
index.ejs
jest.conf.js
npm-debug.log
package-scripts.js
screenshots
test
webpack.config.js

# Lock & error files
yarn.lock
yarn-error.log

# Tests & Coverage
test/
*.spec.ts
coverage
junit.xml
mochawesome-report
testresult.xml
