.chrome
.circleci
.github
.idea
.vscode
.codecov.yml
aurelia-project
CONTRIBUTING.md
cypress
cypress.json
cypress-mochawesome.js
doc
src
ISSUE_TEMPLATE.md
index.ejs
jest.conf.js
npm-debug.log
package-scripts.js
screenshots
test
webpack.config.js

**/dist-demo
docs
aurelia_project
favicon.ico
tsconfig.spec.json

# Lock & error files
yarn.lock
yarn-error.log

# Tests, Report & Coverage
*.spec.ts
test/
**/node_modules
**/coverage
**/jest-coverage
**/mochawesome-report
**/*.tgz
**/junit.xml
**/test-report.xml
**/testresult.xml

