.chrome
.circleci
.github
.idea
.vscode
CHANGELOG.md
CONTRIBUTING.md
cypress
cypress.json
cypress-mochawesome.js
doc
src
ISSUE_TEMPLATE.md
index.ejs
package-scripts.js
screenshots
webpack.config.js

**/dist-demo
docs
website
aurelia_project
favicon.ico
tsconfig.spec.json

# Lock & error files
npm-debug.log
yarn.lock
yarn-error.log

# Tests, Report & Coverage
.codecov.yml
*.spec.ts
jest.conf.js
test/
**/node_modules
**/coverage
**/jest-coverage
**/mochawesome-report
**/*.tgz
**/junit.xml
**/test-report.xml
**/testresult.xml

# code editor & linter
.env
.editorconfig
.eslintignore
.eslintrc
.hintrc
.release-it.json
