body {
  margin: 0;
}
.italic {
  font-style: italic;
}
.faded {
  opacity: 0.2;
}
.faded:hover {
  opacity: 0.5;
}
.red {
  color: red;
}
.subtitle {
  font-size: 19px;
  font-style: italic;
  color: grey;
  margin-bottom: 10px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.links {
  background-color: #f9f9f9;
  border-right: 1px solid #d0d0d0;
  overflow-y: auto;
  padding: 15px;

  /* the height is 100% minus the 2 navbars */
  height: calc(100vh - 50px);
}
