$grid-border-color: fade(black, 3%);
$grid-border-style: solid;

//$grid-header-background: url('../images/header-columns-bg.gif') repeat-x center bottom;
$grid-header-background: rgba(255, 255, 255, .6);

$grid-cell-color: rgb(255, 255, 255);

$cell-padding-top: 4px;
$cell-padding-right: 4px;
$cell-padding-bottom: 4px;
$cell-padding-left: 4px;
