html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: Kievit;
  src: url("fonts/KievitWebPro-Light.woff") format("woff");
  font-weight: 100; }

@font-face {
  font-family: Kievit;
  src: url("fonts/KievitWebPro.woff") format("woff"); }

@font-face {
  font-family: Kievit;
  src: url("fonts/KievitWebPro-Bold.woff") format("woff");
  font-weight: bold; }

.arrow, .arrow-down, .arrow-right {
  position: relative;
  display: inline-block;
  border-style: solid;
  vertical-align: middle;
  border-color: transparent; }
  .arrow-down {
    margin-left: 5px;
    border-width: 5px;
    border-top-color: #c4c4c4;
    border-bottom: 0; }
  .arrow-right {
    margin-left: 5px;
    border-width: 5px;
    border-left-color: #c4c4c4;
    border-right: 0; }

.button {
  color: white;
  cursor: pointer;
  border: 1px solid #219709;
  background-color: #23be04;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 30px; }
  .button:hover {
    background-color: #25c804; }
  .button:active {
    background-color: #23be04; }
  .button:focus {
    outline: none; }
  .button--large {
    font-size: 22px;
    padding: 16px 100px; }
  .button--full {
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
    width: 100%; }
  .button--white {
    border: solid 1px #e6eaeb;
    background-color: white;
    color: #7e93a7; }
    .button--white:hover {
      background-color: #f4f6f6; }

.check {
  display: inline-block; }
  .check input {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  .check__label {
    display: block;
    position: relative;
    padding-left: 26px;
    white-space: nowrap; }
  .check__box {
    height: 18px;
    width: 18px;
    background: url("/img/abs-checkbox.png") no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 0; }
  input:checked + .check__label > .check__box {
    background-position: 0 -18px; }

.drop {
  position: relative;
  display: inline-block;
  font-weight: lighter; }
  .drop__down {
    text-align: left;
    position: absolute;
    z-index: 90;
    top: -6px;
    left: -16px;
    min-width: 210px;
    padding: 44px 16px 16px;
    display: none;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(87, 97, 107, 0.3); }
  .drop__label {
    cursor: pointer;
    position: relative;
    z-index: 91; }
  .drop__close {
    width: 13px;
    height: 13px;
    position: absolute;
    background: url("/img/abs-close.svg") no-repeat;
    right: 10px;
    top: 10px; }
  .drop--active .drop__down {
    display: block; }
  .drop--active .drop__label {
    cursor: default; }

.txt--mono {
  font-family: monospace; }

.txt--xs {
  font-size: 13px; }

.txt--s {
  font-size: 14px; }

.txt--m {
  font-size: 16px; }

.txt--ml {
  font-size: 18px; }

.txt--l {
  font-size: 22px; }

.txt--xl {
  font-size: 30px; }

.txt--lh-s {
  line-height: 1.2; }

.txt--left {
  text-align: left; }

.txt--center {
  text-align: center; }

.txt--right {
  text-align: right; }

.txt--white {
  color: white; }

.txt--green {
  color: #23be04; }

.txt--lead {
  color: #7e93a7; }

.txt--lead-dark {
  color: #57616b; }

.txt--gray-light {
  color: #fdfdfd; }

.txt--orange {
  color: #f8aa02; }

.txt--orange-dark {
  color: #f87002; }

.txt--twitter {
  color: #1da1f2; }

.txt--facebook {
  color: #3b5998; }

.txt--shadow {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); }

.txt--truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.txt--dec-none {
  text-decoration: none; }

.txt-toggler:not(.txt-toggler--active) .txt-toggler__active {
  display: none; }

.txt-toggler--active .txt-toggler__inactive {
  display: none; }

.mta {
  margin-top: auto; }

.mt0 {
  margin-top: 0; }

.mtxxxs {
  margin-top: 0.1rem; }

.mtxxs {
  margin-top: 0.25rem; }

.mtxs {
  margin-top: 0.5rem; }

.mts {
  margin-top: 0.75rem; }

.mtm {
  margin-top: 1rem; }

.mtl {
  margin-top: 2rem; }

.mtxl {
  margin-top: 3rem; }

.mba {
  margin-bottom: auto; }

.mb0 {
  margin-bottom: 0; }

.mbxxxs {
  margin-bottom: 0.1rem; }

.mbxxs {
  margin-bottom: 0.25rem; }

.mbxs {
  margin-bottom: 0.5rem; }

.mbs {
  margin-bottom: 0.75rem; }

.mbm {
  margin-bottom: 1rem; }

.mbl {
  margin-bottom: 2rem; }

.mbxl {
  margin-bottom: 3rem; }

.mla {
  margin-left: auto; }

.ml0 {
  margin-left: 0; }

.mlxxxs {
  margin-left: 0.1rem; }

.mlxxs {
  margin-left: 0.25rem; }

.mlxs {
  margin-left: 0.5rem; }

.mls {
  margin-left: 0.75rem; }

.mlm {
  margin-left: 1rem; }

.mll {
  margin-left: 2rem; }

.mlxl {
  margin-left: 3rem; }

.mra {
  margin-right: auto; }

.mr0 {
  margin-right: 0; }

.mrxxxs {
  margin-right: 0.1rem; }

.mrxxs {
  margin-right: 0.25rem; }

.mrxs {
  margin-right: 0.5rem; }

.mrs {
  margin-right: 0.75rem; }

.mrm {
  margin-right: 1rem; }

.mrl {
  margin-right: 2rem; }

.mrxl {
  margin-right: 3rem; }

.pa {
  padding: auto; }

.p0 {
  padding: 0; }

.pxxxs {
  padding: 0.1rem; }

.pxxs {
  padding: 0.25rem; }

.pxs {
  padding: 0.5rem; }

.ps {
  padding: 0.75rem; }

.pm {
  padding: 1rem; }

.pl {
  padding: 2rem; }

.pxl {
  padding: 3rem; }

.pta {
  padding-top: auto; }

.pt0 {
  padding-top: 0; }

.ptxxxs {
  padding-top: 0.1rem; }

.ptxxs {
  padding-top: 0.25rem; }

.ptxs {
  padding-top: 0.5rem; }

.pts {
  padding-top: 0.75rem; }

.ptm {
  padding-top: 1rem; }

.ptl {
  padding-top: 2rem; }

.ptxl {
  padding-top: 3rem; }

.pra {
  padding-right: auto; }

.pr0 {
  padding-right: 0; }

.prxxxs {
  padding-right: 0.1rem; }

.prxxs {
  padding-right: 0.25rem; }

.prxs {
  padding-right: 0.5rem; }

.prs {
  padding-right: 0.75rem; }

.prm {
  padding-right: 1rem; }

.prl {
  padding-right: 2rem; }

.prxl {
  padding-right: 3rem; }

.pba {
  padding-bottom: auto; }

.pb0 {
  padding-bottom: 0; }

.pbxxxs {
  padding-bottom: 0.1rem; }

.pbxxs {
  padding-bottom: 0.25rem; }

.pbxs {
  padding-bottom: 0.5rem; }

.pbs {
  padding-bottom: 0.75rem; }

.pbm {
  padding-bottom: 1rem; }

.pbl {
  padding-bottom: 2rem; }

.pbxl {
  padding-bottom: 3rem; }

.pla {
  padding-left: auto; }

.pl0 {
  padding-left: 0; }

.plxxxs {
  padding-left: 0.1rem; }

.plxxs {
  padding-left: 0.25rem; }

.plxs {
  padding-left: 0.5rem; }

.pls {
  padding-left: 0.75rem; }

.plm {
  padding-left: 1rem; }

.pll {
  padding-left: 2rem; }

.plxl {
  padding-left: 3rem; }

.db {
  display: block; }

.dib {
  display: inline-block; }

.posr {
  position: relative; }

.posa {
  position: absolute; }

.posfull {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.ovys {
  overflow-y: scroll; }

.ovyh {
  overflow-y: hidden; }

.vat {
  vertical-align: top; }

.vam {
  vertical-align: middle; }

.pointer {
  cursor: pointer; }

.colored-link a {
  text-decoration: none; }

.colored-link--blue a {
  color: #007eff; }

.bgc--lead-light {
  background-color: #f3f5f6; }

.wba {
  word-break: break-all; }

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fdfdfd;
  color: #57616b;
  font-size: 16px;
  font-family: Kievit;
  font-weight: 100;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 1.5rem; }

a {
  text-decoration: none;
  color: #7e93a7; }

.abs-page {
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 640px;
  margin: 0 auto;
  padding-top: 100px;
  line-height: 1.5;
  text-align: center; }

.header {
  position: fixed;
  top: 10px;
  left: 10px; }
  .header__img {
    display: block; }
