html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: Kievit;
  src: url("fonts/KievitWebPro-Light.woff") format("woff");
  font-weight: 100; }

@font-face {
  font-family: Kievit;
  src: url("fonts/KievitWebPro.woff") format("woff"); }

@font-face {
  font-family: Kievit;
  src: url("fonts/KievitWebPro-Bold.woff") format("woff");
  font-weight: bold; }

a {
  color: #7e93a7;
  text-decoration: underline; }

.button {
  color: white;
  cursor: pointer;
  border: 1px solid #219709;
  background-color: #23be04;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 30px; }
  .button:hover {
    background-color: #25c804; }
  .button:active {
    background-color: #23be04; }
  .button:focus {
    outline: none; }
  .button--large {
    font-size: 22px;
    padding: 16px 100px; }
  .button--full {
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
    width: 100%; }
  .button--white {
    border: solid 1px #e6eaeb;
    background-color: white;
    color: #7e93a7; }
    .button--white:hover {
      background-color: #f4f6f6; }

.flex {
  display: flex; }
  .flex--col {
    flex-direction: column; }
  .flex--ac {
    align-items: center; }
  .flex--c {
    justify-content: center; }
  .flex--sb {
    justify-content: space-between; }
  .flex--g1 {
    flex-grow: 1; }
  .flex--b0 {
    flex-basis: 0; }

.media {
  display: table; }
  .media__img, .media__body {
    display: table-cell;
    vertical-align: middle; }
  .media__img {
    padding-right: 1rem; }
    .media__img img {
      display: block;
      max-width: none; }
  .media__body {
    width: 100%; }
  .media--rev .media__img {
    padding-right: 0;
    padding-left: 1rem; }

.menu {
  cursor: default;
  list-syle: none;
  padding: 0.25rem;
  position: absolute;
  right: 0;
  top: 0; }
  .menu > li {
    margin-right: 0.25rem;
    display: inline-block;
    vertical-align: top;
    cursor: pointer; }
    .menu > li a {
      outline: none; }
    .menu > li.menu__settings {
      margin-top: -1px; }
    .menu > li img {
      display: block;
      opacity: 0.6; }
    .menu > li:hover img, .menu > li.menu__item--active img {
      opacity: 1; }

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem; }
  .section:after {
    content: '' !important;
    clear: both !important;
    display: block !important; }
  .section--s {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; }
  .section--xs {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .section--full {
    height: 100%; }
  .section--lead-light {
    background-color: #f3f5f6; }
  .section--red {
    background-color: #fe2a2a; }
  .section--green {
    background-color: #23be04; }
  .section--border {
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1); }

.txt--mono {
  font-family: monospace; }

.txt--xs {
  font-size: 13px; }

.txt--s {
  font-size: 14px; }

.txt--m {
  font-size: 16px; }

.txt--ml {
  font-size: 18px; }

.txt--l {
  font-size: 22px; }

.txt--xl {
  font-size: 30px; }

.txt--lh-s {
  line-height: 1.2; }

.txt--left {
  text-align: left; }

.txt--center {
  text-align: center; }

.txt--right {
  text-align: right; }

.txt--white {
  color: white; }

.txt--green {
  color: #23be04; }

.txt--lead {
  color: #7e93a7; }

.txt--lead-dark {
  color: #57616b; }

.txt--gray-light {
  color: #fdfdfd; }

.txt--orange {
  color: #f8aa02; }

.txt--orange-dark {
  color: #f87002; }

.txt--twitter {
  color: #1da1f2; }

.txt--facebook {
  color: #3b5998; }

.txt--shadow {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); }

.txt--truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.txt--dec-none {
  text-decoration: none; }

.txt-toggler:not(.txt-toggler--active) .txt-toggler__active {
  display: none; }

.txt-toggler--active .txt-toggler__inactive {
  display: none; }

html {
  width: 312px;
  height: 384px;
  padding: 16px;
  min-height: 310px;
  background-color: transparent; }

body {
  position: relative;
  background-color: transparent;
  color: #57616b;
  font-size: 16px;
  font-family: Kievit;
  line-height: 1.5; }

.header {
  position: absolute;
  top: 10px;
  left: 10px; }
  .header__img, .header__text {
    display: inline-block;
    vertical-align: middle; }

.box {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 14px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden; }

.mta {
  margin-top: auto; }

.mt0 {
  margin-top: 0; }

.mtxxxs {
  margin-top: 0.1rem; }

.mtxxs {
  margin-top: 0.25rem; }

.mtxs {
  margin-top: 0.5rem; }

.mts {
  margin-top: 0.75rem; }

.mtm {
  margin-top: 1rem; }

.mtl {
  margin-top: 2rem; }

.mtxl {
  margin-top: 3rem; }

.mba {
  margin-bottom: auto; }

.mb0 {
  margin-bottom: 0; }

.mbxxxs {
  margin-bottom: 0.1rem; }

.mbxxs {
  margin-bottom: 0.25rem; }

.mbxs {
  margin-bottom: 0.5rem; }

.mbs {
  margin-bottom: 0.75rem; }

.mbm {
  margin-bottom: 1rem; }

.mbl {
  margin-bottom: 2rem; }

.mbxl {
  margin-bottom: 3rem; }

.mla {
  margin-left: auto; }

.ml0 {
  margin-left: 0; }

.mlxxxs {
  margin-left: 0.1rem; }

.mlxxs {
  margin-left: 0.25rem; }

.mlxs {
  margin-left: 0.5rem; }

.mls {
  margin-left: 0.75rem; }

.mlm {
  margin-left: 1rem; }

.mll {
  margin-left: 2rem; }

.mlxl {
  margin-left: 3rem; }

.mra {
  margin-right: auto; }

.mr0 {
  margin-right: 0; }

.mrxxxs {
  margin-right: 0.1rem; }

.mrxxs {
  margin-right: 0.25rem; }

.mrxs {
  margin-right: 0.5rem; }

.mrs {
  margin-right: 0.75rem; }

.mrm {
  margin-right: 1rem; }

.mrl {
  margin-right: 2rem; }

.mrxl {
  margin-right: 3rem; }

.pa {
  padding: auto; }

.p0 {
  padding: 0; }

.pxxxs {
  padding: 0.1rem; }

.pxxs {
  padding: 0.25rem; }

.pxs {
  padding: 0.5rem; }

.ps {
  padding: 0.75rem; }

.pm {
  padding: 1rem; }

.pl {
  padding: 2rem; }

.pxl {
  padding: 3rem; }

.pta {
  padding-top: auto; }

.pt0 {
  padding-top: 0; }

.ptxxxs {
  padding-top: 0.1rem; }

.ptxxs {
  padding-top: 0.25rem; }

.ptxs {
  padding-top: 0.5rem; }

.pts {
  padding-top: 0.75rem; }

.ptm {
  padding-top: 1rem; }

.ptl {
  padding-top: 2rem; }

.ptxl {
  padding-top: 3rem; }

.pra {
  padding-right: auto; }

.pr0 {
  padding-right: 0; }

.prxxxs {
  padding-right: 0.1rem; }

.prxxs {
  padding-right: 0.25rem; }

.prxs {
  padding-right: 0.5rem; }

.prs {
  padding-right: 0.75rem; }

.prm {
  padding-right: 1rem; }

.prl {
  padding-right: 2rem; }

.prxl {
  padding-right: 3rem; }

.pba {
  padding-bottom: auto; }

.pb0 {
  padding-bottom: 0; }

.pbxxxs {
  padding-bottom: 0.1rem; }

.pbxxs {
  padding-bottom: 0.25rem; }

.pbxs {
  padding-bottom: 0.5rem; }

.pbs {
  padding-bottom: 0.75rem; }

.pbm {
  padding-bottom: 1rem; }

.pbl {
  padding-bottom: 2rem; }

.pbxl {
  padding-bottom: 3rem; }

.pla {
  padding-left: auto; }

.pl0 {
  padding-left: 0; }

.plxxxs {
  padding-left: 0.1rem; }

.plxxs {
  padding-left: 0.25rem; }

.plxs {
  padding-left: 0.5rem; }

.pls {
  padding-left: 0.75rem; }

.plm {
  padding-left: 1rem; }

.pll {
  padding-left: 2rem; }

.plxl {
  padding-left: 3rem; }

.db {
  display: block; }

.dib {
  display: inline-block; }

.posr {
  position: relative; }

.posa {
  position: absolute; }

.posfull {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.ovys {
  overflow-y: scroll; }

.ovyh {
  overflow-y: hidden; }

.vat {
  vertical-align: top; }

.vam {
  vertical-align: middle; }

.pointer {
  cursor: pointer; }

.colored-link a {
  text-decoration: none; }

.colored-link--blue a {
  color: #007eff; }

.bgc--lead-light {
  background-color: #f3f5f6; }

.wba {
  word-break: break-all; }
