html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: Kievit;
  src: url("fonts/KievitWebPro-Light.woff") format("woff");
  font-weight: 100; }

@font-face {
  font-family: Kievit;
  src: url("fonts/KievitWebPro.woff") format("woff"); }

@font-face {
  font-family: Kievit;
  src: url("fonts/KievitWebPro-Bold.woff") format("woff");
  font-weight: bold; }

a {
  color: #7e93a7;
  text-decoration: underline; }

.arrow, .arrow-down, .arrow-right {
  position: relative;
  display: inline-block;
  border-style: solid;
  vertical-align: middle;
  border-color: transparent; }
  .arrow-down {
    margin-left: 5px;
    border-width: 5px;
    border-top-color: #c4c4c4;
    border-bottom: 0; }
  .arrow-right {
    margin-left: 5px;
    border-width: 5px;
    border-left-color: #c4c4c4;
    border-right: 0; }

.button {
  color: white;
  cursor: pointer;
  border: 1px solid #219709;
  background-color: #23be04;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 30px; }
  .button:hover {
    background-color: #25c804; }
  .button:active {
    background-color: #23be04; }
  .button:focus {
    outline: none; }
  .button--large {
    font-size: 22px;
    padding: 16px 100px; }
  .button--full {
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
    width: 100%; }
  .button--white {
    border: solid 1px #e6eaeb;
    background-color: white;
    color: #7e93a7; }
    .button--white:hover {
      background-color: #f4f6f6; }

.check {
  display: inline-block; }
  .check input {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  .check__label {
    display: block;
    position: relative;
    padding-left: 26px;
    white-space: nowrap; }
  .check__box {
    height: 18px;
    width: 18px;
    background: url("/img/abs-checkbox.png") no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 0; }
  input:checked + .check__label > .check__box {
    background-position: 0 -18px; }

.drop {
  position: relative;
  display: inline-block;
  font-weight: lighter; }
  .drop__down {
    text-align: left;
    position: absolute;
    z-index: 90;
    top: -6px;
    left: -16px;
    min-width: 210px;
    padding: 44px 16px 16px;
    display: none;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(87, 97, 107, 0.3); }
  .drop__label {
    cursor: pointer;
    position: relative;
    z-index: 91; }
  .drop__close {
    width: 13px;
    height: 13px;
    position: absolute;
    background: url("/img/abs-close.svg") no-repeat;
    right: 10px;
    top: 10px; }
  .drop--active .drop__down {
    display: block; }
  .drop--active .drop__label {
    cursor: default; }

.flex {
  display: flex; }
  .flex--col {
    flex-direction: column; }
  .flex--ac {
    align-items: center; }
  .flex--c {
    justify-content: center; }
  .flex--sb {
    justify-content: space-between; }
  .flex--g1 {
    flex-grow: 1; }
  .flex--b0 {
    flex-basis: 0; }

.media {
  display: table; }
  .media__img, .media__body {
    display: table-cell;
    vertical-align: middle; }
  .media__img {
    padding-right: 1rem; }
    .media__img img {
      display: block;
      max-width: none; }
  .media__body {
    width: 100%; }
  .media--rev .media__img {
    padding-right: 0;
    padding-left: 1rem; }

.menu {
  cursor: default;
  list-syle: none;
  padding: 0.25rem;
  position: absolute;
  right: 0;
  top: 0; }
  .menu > li {
    margin-right: 0.25rem;
    display: inline-block;
    vertical-align: top;
    cursor: pointer; }
    .menu > li a {
      outline: none; }
    .menu > li.menu__settings {
      margin-top: -1px; }
    .menu > li img {
      display: block;
      opacity: 0.6; }
    .menu > li:hover img, .menu > li.menu__item--active img {
      opacity: 1; }

.page {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: left 0.2s ease-out;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); }

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem; }
  .section:after {
    content: '' !important;
    clear: both !important;
    display: block !important; }
  .section--s {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; }
  .section--xs {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .section--full {
    height: 100%; }
  .section--lead-light {
    background-color: #f3f5f6; }
  .section--red {
    background-color: #fe2a2a; }
  .section--green {
    background-color: #23be04; }
  .section--border {
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1); }

.ps {
  -ms-touch-action: auto;
  touch-action: auto;
  overflow: hidden !important;
  -ms-overflow-style: none; }
  @supports (-ms-overflow-style: none) {
    .ps {
      overflow: auto !important; } }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ps {
      overflow: auto !important; } }
  .ps.ps--active-x > .ps__scrollbar-x-rail,
  .ps.ps--active-y > .ps__scrollbar-y-rail {
    display: block;
    background-color: transparent; }
  .ps.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail {
    background-color: #eee;
    opacity: 0.9; }
    .ps.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail > .ps__scrollbar-x {
      background-color: #999;
      height: 11px; }
  .ps.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail {
    background-color: #eee;
    opacity: 0.9; }
    .ps.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y {
      background-color: #999;
      width: 11px; }
  .ps > .ps__scrollbar-x-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    opacity: 0;
    transition: background-color .2s linear, opacity .2s linear;
    bottom: 0px;
    /* there must be 'bottom' for ps__scrollbar-x-rail */
    height: 15px; }
    .ps > .ps__scrollbar-x-rail > .ps__scrollbar-x {
      position: absolute;
      /* please don't change 'position' */
      background-color: #aaa;
      border-radius: 6px;
      transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
      bottom: 2px;
      /* there must be 'bottom' for ps__scrollbar-x */
      height: 6px; }
    .ps > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x, .ps > .ps__scrollbar-x-rail:active > .ps__scrollbar-x {
      height: 11px; }
  .ps > .ps__scrollbar-y-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    opacity: 0;
    transition: background-color .2s linear, opacity .2s linear;
    right: 0;
    /* there must be 'right' for ps__scrollbar-y-rail */
    width: 15px; }
    .ps > .ps__scrollbar-y-rail > .ps__scrollbar-y {
      position: absolute;
      /* please don't change 'position' */
      background-color: #aaa;
      border-radius: 6px;
      transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
      right: 2px;
      /* there must be 'right' for ps__scrollbar-y */
      width: 6px; }
    .ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y, .ps > .ps__scrollbar-y-rail:active > .ps__scrollbar-y {
      width: 11px; }
  .ps:hover.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail {
    background-color: #eee;
    opacity: 0.9; }
    .ps:hover.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail > .ps__scrollbar-x {
      background-color: #999;
      height: 11px; }
  .ps:hover.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail {
    background-color: #eee;
    opacity: 0.9; }
    .ps:hover.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y {
      background-color: #999;
      width: 11px; }
  .ps:hover > .ps__scrollbar-x-rail,
  .ps:hover > .ps__scrollbar-y-rail {
    opacity: 0.6; }
  .ps:hover > .ps__scrollbar-x-rail:hover {
    background-color: #eee;
    opacity: 0.9; }
    .ps:hover > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x {
      background-color: #999; }
  .ps:hover > .ps__scrollbar-y-rail:hover {
    background-color: #eee;
    opacity: 0.9; }
    .ps:hover > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y {
      background-color: #999; }

.ps-theme-avira {
  -ms-touch-action: auto;
  touch-action: auto;
  overflow: hidden !important;
  -ms-overflow-style: none; }
  @supports (-ms-overflow-style: none) {
    .ps-theme-avira {
      overflow: auto !important; } }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ps-theme-avira {
      overflow: auto !important; } }
  .ps-theme-avira.ps--active-x > .ps__scrollbar-x-rail,
  .ps-theme-avira.ps--active-y > .ps__scrollbar-y-rail {
    display: block;
    background-color: #e6eaeb; }
  .ps-theme-avira.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail {
    background-color: #e6eaeb;
    opacity: 1; }
    .ps-theme-avira.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail > .ps__scrollbar-x {
      background-color: #7e93a7;
      height: 3px; }
  .ps-theme-avira.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail {
    background-color: #e6eaeb;
    opacity: 1; }
    .ps-theme-avira.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y {
      background-color: #7e93a7;
      width: 3px; }
  .ps-theme-avira > .ps__scrollbar-x-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    opacity: 0.6;
    transition: background-color .2s linear, opacity .2s linear;
    bottom: 4px;
    /* there must be 'bottom' for ps__scrollbar-x-rail */
    height: 3px; }
    .ps-theme-avira > .ps__scrollbar-x-rail > .ps__scrollbar-x {
      position: absolute;
      /* please don't change 'position' */
      background-color: #7e93a7;
      border-radius: 3px;
      transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
      bottom: 0;
      /* there must be 'bottom' for ps__scrollbar-x */
      height: 3px; }
    .ps-theme-avira > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x, .ps-theme-avira > .ps__scrollbar-x-rail:active > .ps__scrollbar-x {
      height: 3px; }
  .ps-theme-avira > .ps__scrollbar-y-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    opacity: 0.6;
    transition: background-color .2s linear, opacity .2s linear;
    right: 4px;
    /* there must be 'right' for ps__scrollbar-y-rail */
    width: 3px; }
    .ps-theme-avira > .ps__scrollbar-y-rail > .ps__scrollbar-y {
      position: absolute;
      /* please don't change 'position' */
      background-color: #7e93a7;
      border-radius: 3px;
      transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
      right: 0;
      /* there must be 'right' for ps__scrollbar-y */
      width: 3px; }
    .ps-theme-avira > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y, .ps-theme-avira > .ps__scrollbar-y-rail:active > .ps__scrollbar-y {
      width: 3px; }
  .ps-theme-avira:hover.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail {
    background-color: #e6eaeb;
    opacity: 1; }
    .ps-theme-avira:hover.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail > .ps__scrollbar-x {
      background-color: #7e93a7;
      height: 3px; }
  .ps-theme-avira:hover.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail {
    background-color: #e6eaeb;
    opacity: 1; }
    .ps-theme-avira:hover.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y {
      background-color: #7e93a7;
      width: 3px; }
  .ps-theme-avira:hover > .ps__scrollbar-x-rail,
  .ps-theme-avira:hover > .ps__scrollbar-y-rail {
    opacity: 0.7; }
  .ps-theme-avira:hover > .ps__scrollbar-x-rail:hover {
    background-color: #e6eaeb;
    opacity: 1; }
    .ps-theme-avira:hover > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x {
      background-color: #7e93a7; }
  .ps-theme-avira:hover > .ps__scrollbar-y-rail:hover {
    background-color: #e6eaeb;
    opacity: 1; }
    .ps-theme-avira:hover > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y {
      background-color: #7e93a7; }

.setting {
  position: relative;
  display: block;
  line-height: 20px;
  display: flex;
  align-items: center; }
  .setting__title {
    vertical-align: middle;
    flex-grow: 1; }
    .setting__title a {
      text-decoration: none;
      color: #57616b; }
  .setting input {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
    margin: 0;
    top: -1px;
    right: -1px; }
  .setting__radio {
    width: 20px;
    height: 20px;
    background-color: white;
    position: relative;
    vertical-align: middle;
    flex-shrink: 0; }
    .setting__radio::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #c4c4c4;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
      transition: left 0.1s ease-out, background 0.1s ease-out; }
    .setting__radio::after {
      content: '';
      position: absolute;
      top: 7px;
      left: 6px;
      width: 8px;
      height: 4px;
      border-bottom: solid 1px #c4c4c4;
      border-left: solid 1px #c4c4c4;
      transform: rotate(-40deg);
      transition: left 0.1s ease-out, border-color 0.1s ease-out; }
  input:checked ~ .setting__radio::before {
    background-color: #23be04;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25); }
  input:checked ~ .setting__radio::after {
    border-color: white; }
  .setting__switch {
    width: 40px;
    height: 20px;
    border: solid 1px #b9b9b9;
    border-radius: 10px;
    background-color: white;
    box-shadow: inset 0 1px 2px rgba(185, 185, 185, 0.3);
    position: relative;
    vertical-align: middle;
    flex-shrink: 0;
    transition: opacity 0.2s; }
    .setting__switch::before {
      content: '';
      position: absolute;
      top: 1px;
      left: 1px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #c4c4c4;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
      transition: left 0.1s ease-out, background 0.1s ease-out; }
    .setting__switch::after {
      content: '';
      position: absolute;
      top: 6px;
      left: 5px;
      width: 8px;
      height: 4px;
      border-bottom: solid 1px #c4c4c4;
      border-left: solid 1px #c4c4c4;
      transform: rotate(-40deg);
      transition: left 0.1s ease-out, border-color 0.1s ease-out; }
  input:disabled ~ .setting__switch {
    opacity: 0.6; }
  input:checked ~ .setting__switch::before {
    background-color: #23be04;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
    left: 21px; }
  input:checked ~ .setting__switch::after {
    left: 25px;
    border-color: white; }
  .setting__arrow {
    margin: auto;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border: none;
    outline: none; }
    .setting__arrow:before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-top: solid 2px #c4c4c4;
      border-right: solid 2px #c4c4c4;
      transform: rotate(45deg); }

.settings {
  background-color: #f3f5f6;
  height: 100%; }
  .settings__header {
    background-color: white;
    padding-top: 1rem;
    border-bottom: solid 1px #e6eaeb;
    box-shadow: 0 1px 2px rgba(230, 234, 235, 0.7);
    position: relative;
    z-index: 10;
    vertical-align: middle; }
  .settings__title {
    position: relative;
    padding: 0 4rem; }
  .settings__back-button {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border: none;
    outline: none; }
    .settings__back-button:before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-left: solid 2px #c4c4c4;
      border-bottom: solid 2px #c4c4c4;
      transform: rotate(45deg); }
  .settings__body {
    position: relative;
    z-index: 9; }

.settings-list__item {
  padding: 0.5rem 0; }

#slideup {
  height: 352px;
  width: 100%;
  position: absolute;
  bottom: -100%;
  background-color: white;
  overflow: hidden;
  transition: bottom 0.4s;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3); }
  #slideup.show {
    bottom: 0px; }

.tabs {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch; }
  .tabs__item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    padding: 13px 0.5rem;
    color: #7e93a7;
    text-decoration: none;
    background-color: #e6eaeb;
    cursor: pointer;
    white-space: nowrap;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-color: #cad2d4;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
    .tabs__item:last-child {
      border-right: 0; }
    .tabs__item--active {
      overflow: visible;
      cursor: default;
      background-color: white;
      border-bottom: 0; }
    .tabs__item:hover + .tabs__item {
      overflow: hidden !important; }
    .tabs__item:hover {
      overflow: visible; }

.tooltip {
  z-index: 20;
  position: fixed;
  display: block;
  width: 160px;
  font-size: 14px;
  z-index: 20; }
  .tooltip:before {
    position: absolute;
    bottom: -4px;
    right: 18px;
    display: block;
    width: 8px;
    height: 8px;
    background-color: #007eff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    content: '';
    transform: rotate(45deg); }
  .tooltip__content {
    position: relative;
    border-radius: 3px;
    color: white;
    background-color: #007eff;
    padding: 0.5rem; }
  .tooltip--bottom:before {
    bottom: auto;
    top: -4px; }
  .tooltip--right:before {
    right: auto;
    left: 18px; }
  .tooltip--s {
    width: 120px; }
  .tooltip--list .tooltip__item {
    text-align: left;
    color: inherit;
    text-decoration: inherit;
    padding: 0.75rem;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    display: block; }
    .tooltip--list .tooltip__item:last-child {
      border-bottom: 0; }

.txt--mono {
  font-family: monospace; }

.txt--xs {
  font-size: 13px; }

.txt--s {
  font-size: 14px; }

.txt--m {
  font-size: 16px; }

.txt--ml {
  font-size: 18px; }

.txt--l {
  font-size: 22px; }

.txt--xl {
  font-size: 30px; }

.txt--lh-s {
  line-height: 1.2; }

.txt--left {
  text-align: left; }

.txt--center {
  text-align: center; }

.txt--right {
  text-align: right; }

.txt--white {
  color: white; }

.txt--green {
  color: #23be04; }

.txt--lead {
  color: #7e93a7; }

.txt--lead-dark {
  color: #57616b; }

.txt--gray-light {
  color: #fdfdfd; }

.txt--orange {
  color: #f8aa02; }

.txt--orange-dark {
  color: #f87002; }

.txt--twitter {
  color: #1da1f2; }

.txt--facebook {
  color: #3b5998; }

.txt--shadow {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); }

.txt--truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.txt--dec-none {
  text-decoration: none; }

.txt-toggler:not(.txt-toggler--active) .txt-toggler__active {
  display: none; }

.txt-toggler--active .txt-toggler__inactive {
  display: none; }

.mta {
  margin-top: auto; }

.mt0 {
  margin-top: 0; }

.mtxxxs {
  margin-top: 0.1rem; }

.mtxxs {
  margin-top: 0.25rem; }

.mtxs {
  margin-top: 0.5rem; }

.mts {
  margin-top: 0.75rem; }

.mtm {
  margin-top: 1rem; }

.mtl {
  margin-top: 2rem; }

.mtxl {
  margin-top: 3rem; }

.mba {
  margin-bottom: auto; }

.mb0 {
  margin-bottom: 0; }

.mbxxxs {
  margin-bottom: 0.1rem; }

.mbxxs {
  margin-bottom: 0.25rem; }

.mbxs {
  margin-bottom: 0.5rem; }

.mbs {
  margin-bottom: 0.75rem; }

.mbm {
  margin-bottom: 1rem; }

.mbl {
  margin-bottom: 2rem; }

.mbxl {
  margin-bottom: 3rem; }

.mla {
  margin-left: auto; }

.ml0 {
  margin-left: 0; }

.mlxxxs {
  margin-left: 0.1rem; }

.mlxxs {
  margin-left: 0.25rem; }

.mlxs {
  margin-left: 0.5rem; }

.mls {
  margin-left: 0.75rem; }

.mlm {
  margin-left: 1rem; }

.mll {
  margin-left: 2rem; }

.mlxl {
  margin-left: 3rem; }

.mra {
  margin-right: auto; }

.mr0 {
  margin-right: 0; }

.mrxxxs {
  margin-right: 0.1rem; }

.mrxxs {
  margin-right: 0.25rem; }

.mrxs {
  margin-right: 0.5rem; }

.mrs {
  margin-right: 0.75rem; }

.mrm {
  margin-right: 1rem; }

.mrl {
  margin-right: 2rem; }

.mrxl {
  margin-right: 3rem; }

.pa {
  padding: auto; }

.p0 {
  padding: 0; }

.pxxxs {
  padding: 0.1rem; }

.pxxs {
  padding: 0.25rem; }

.pxs {
  padding: 0.5rem; }

.ps {
  padding: 0.75rem; }

.pm {
  padding: 1rem; }

.pl {
  padding: 2rem; }

.pxl {
  padding: 3rem; }

.pta {
  padding-top: auto; }

.pt0 {
  padding-top: 0; }

.ptxxxs {
  padding-top: 0.1rem; }

.ptxxs {
  padding-top: 0.25rem; }

.ptxs {
  padding-top: 0.5rem; }

.pts {
  padding-top: 0.75rem; }

.ptm {
  padding-top: 1rem; }

.ptl {
  padding-top: 2rem; }

.ptxl {
  padding-top: 3rem; }

.pra {
  padding-right: auto; }

.pr0 {
  padding-right: 0; }

.prxxxs {
  padding-right: 0.1rem; }

.prxxs {
  padding-right: 0.25rem; }

.prxs {
  padding-right: 0.5rem; }

.prs {
  padding-right: 0.75rem; }

.prm {
  padding-right: 1rem; }

.prl {
  padding-right: 2rem; }

.prxl {
  padding-right: 3rem; }

.pba {
  padding-bottom: auto; }

.pb0 {
  padding-bottom: 0; }

.pbxxxs {
  padding-bottom: 0.1rem; }

.pbxxs {
  padding-bottom: 0.25rem; }

.pbxs {
  padding-bottom: 0.5rem; }

.pbs {
  padding-bottom: 0.75rem; }

.pbm {
  padding-bottom: 1rem; }

.pbl {
  padding-bottom: 2rem; }

.pbxl {
  padding-bottom: 3rem; }

.pla {
  padding-left: auto; }

.pl0 {
  padding-left: 0; }

.plxxxs {
  padding-left: 0.1rem; }

.plxxs {
  padding-left: 0.25rem; }

.plxs {
  padding-left: 0.5rem; }

.pls {
  padding-left: 0.75rem; }

.plm {
  padding-left: 1rem; }

.pll {
  padding-left: 2rem; }

.plxl {
  padding-left: 3rem; }

.db {
  display: block; }

.dib {
  display: inline-block; }

.posr {
  position: relative; }

.posa {
  position: absolute; }

.posfull {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.ovys {
  overflow-y: scroll; }

.ovyh {
  overflow-y: hidden; }

.vat {
  vertical-align: top; }

.vam {
  vertical-align: middle; }

.pointer {
  cursor: pointer; }

.colored-link a {
  text-decoration: none; }

.colored-link--blue a {
  color: #007eff; }

.bgc--lead-light {
  background-color: #f3f5f6; }

.wba {
  word-break: break-all; }

html {
  width: 320px;
  height: 480px;
  min-height: 480px; }

body {
  width: 320px;
  height: 480px;
  min-height: 480px;
  background: white;
  color: #57616b;
  font-size: 16px;
  font-family: Kievit;
  font-weight: 100;
  line-height: 1.5;
  overflow: hidden; }

#popup, #content, #base {
  height: 100%; }

#menu {
  z-index: 100; }
